name: Deploy FastAPI App via Docker Compose

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build and run with Docker Compose
        run: |
          docker compose -f ./video-back/docker-compose.yml down
          docker compose -f ./video-back/docker-compose.yml up -d --build
